.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  padding: 1rem;
  width: 15rem;
  font-size: 1rem;
  margin: 1rem;
  align-self: center;
}

button {
  width: 10rem;
  align-self: center;
  padding: 10px;
  background-color: darkblue;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.card {
  width: 20rem;
  align-self: center;
  box-shadow: 1px 1px 1px 1px #000000;
  padding: 5px;
}
.card-image {
  width: 20rem;
  height: 10rem;
  max-height: 10rem;
}
.image {
  width: 20rem;
  height: 10rem;
  max-height: 10rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}
